.Atom {
    width: 60px;
    height: 65px;
    border: 1px solid #282c34;
    position: relative;
}

.element {
    font-size: 10pt;
    text-align: left;
    position: absolute;
    top: 9px;
    left: 12px;
    margin: -9px;
}

.symbol {
    font-size: 18pt;
    font-weight: bolder;
    position: absolute;
    top: 18pt;
    left: 5pt;
}

.name {
    font-size: 7pt;
    position: absolute;
    bottom: 0pt;
    left: 0;
    right: 0;
    margin-top: -7px;
    text-align: center;
}

.icon-language {
    position: absolute;
    font-size: 13pt;
    top: 10px;
    right: 9px;
    margin: -9px;
}

.icon-atom {
    position: absolute;
    font-size: 13pt;
    top: 27px;
    right: 9px;
    margin: -9px;
}

.atom-check {
    color: darkblue;
}

.atom-ready {
    color: black;
}

.atom-error {
    color: darkred;
}
